it.fadeout.mercurius.business/src/hibernate.cfg.xml
it.fadeout.mercurius.business/bin
it.fadeout.mercurius.business/.settings
it.fadeout.mercurius.business/.classpath
it.fadeout.mercurius.business/.project
it.fadeout.mercurius.client/bin
it.fadeout.mercurius.client/.settings
it.fadeout.mercurius.client/.classpath
it.fadeout.mercurius.client/.project
it.fadeout.mercurius.client/doc
it.fadeout.mercurius.daemon/bin
it.fadeout.mercurius.daemon/.settings
it.fadeout.mercurius.daemon/.classpath
it.fadeout.mercurius.daemon/.project
it.fadeout.mercurius.daemon/doc
it.fadeout.mercurius.daemon/src/it/genova
it.fadeout.mercurius.daemon/src/it/fadeout/mercurius/daemon/SmsUtils/impl/SmsUtilsComuneGenova.java
it.fadeout.mercurius.daemon/src/it/fadeout/mercurius/daemon/Config.xml
Mercurius/.idea
.metadata
