<?xml version="1.0" encoding="UTF-8"?>
<CONFIG>
	<!--MAILCONFIG>
		<SMTP>smtp.fadeout.biz</SMTP>
		<SMTPPORT>25</SMTPPORT>
		<SMTPSENDER>segnalazioni@fadeout.biz</SMTPSENDER>
		<SMTPPWD>segnalazioni</SMTPPWD>
		<AUTHETICATION>true</AUTHETICATION>
	</MAILCONFIG-->
	<MAILCONFIG>
		<SMTP>130.251.104.247</SMTP>
		<SMTPPORT>25</SMTPPORT>
		<SMTPSENDER>kumale@kumale.org</SMTPSENDER>
		<SMTPPWD>kumale4AC!!</SMTPPWD>
		<AUTHETICATION>true</AUTHETICATION>
	</MAILCONFIG>	
	<SMSCONFIG>
		<USERNAME>NIE00001</USERNAME>
		<OLDPASSWORD>NIE00002</OLDPASSWORD>
		<PASSWORD>NIE00002</PASSWORD>
		<CENTRODICOSTO>PROTNIE0</CENTRODICOSTO>
	</SMSCONFIG>
	<CARDBOARDFISHSMSCONFIG>
		<USERNAME>fadeoutsoft1</USERNAME>		
		<PASSWORD>tVx149VF</PASSWORD>		
		<URL1>http://sms2.cardboardfish.com:9001/HTTPSMS?</URL1>
		<URL2>http://sms1.cardboardfish.com:9001/HTTPSMS?</URL2>
		<URL3>http://sms3.cardboardfish.com:9001/HTTPSMS?</URL3>
	</CARDBOARDFISHSMSCONFIG>
	<ACRONETSMSCONFIG>
		<!-- <PIN>8334</PIN> -->
		<PIN>8334</PIN>
		<COM>COM5</COM>
	</ACRONETSMSCONFIG>	
	<MOBYTSMSCONFIG>
		<FTPSERVERADDRESS>client.mobyt.it</FTPSERVERADDRESS>
		<SERVERPORT>21</SERVERPORT>
		<REMOTEPATH>incoming</REMOTEPATH>
		<LOGIN>M20941</LOGIN>
		<DOMAIN>client.mobyt.it</DOMAIN>
		<PASSWORD>k36ioulh</PASSWORD>
		<TEMPFOLDER>c:\temp\</TEMPFOLDER>
		<SENDER>Communicator</SENDER>
		<USEPASSIVEMODE>TRUE</USEPASSIVEMODE>
		<USEPROXY>FALSE</USEPROXY>
		<PROXYSERVER></PROXYSERVER>
		<PROXYPORT></PROXYPORT>
		<PROXYUSER></PROXYUSER>
		<PROXYPASSWORD></PROXYPASSWORD>
	</MOBYTSMSCONFIG>	
	<MAINCONFIG>
		<DbServerDriver>org.postgresql.Driver</DbServerDriver>
		<SERVERPORT>8182</SERVERPORT>
		<DAEMONPOLLINGTIME>1</DAEMONPOLLINGTIME>
		<RETRY>3</RETRY>
		<!--SMSUTIL>it.fadeout.nie.SmsUtils.impl.SmsUtilCardBoardFish</SMSUTIL-->
		<!-->SMSUTIL>it.fadeout.nie.SmsUtils.impl.SmsUtilsAcroNet</SMSUTIL-->
		<SMSUTIL>it.fadeout.mercurius.daemon.SmsUtils.impl.SmsUtilsSmsLib</SMSUTIL>
		<!--SMSUTIL>it.fadeout.nie.SmsUtils.impl.SmsUtilsComuneGenova</SMSUTIL> -->
		<SMSMAILRECEIVER>p.campanella@fadeout.it</SMSMAILRECEIVER>
		<SMSTESTRECEIVER>3493506892;3480186510</SMSTESTRECEIVER>
		<ENABLESMS>0</ENABLESMS>
		<ENABLEMAIL>1</ENABLEMAIL>
		<LOGBOOK>
			<LogDbServer>192.168.187.204</LogDbServer>
			<LogDbName>logbook</LogDbName>
			<LogDbUser>postgres</LogDbUser>
			<LogDbPassword>posNIE2012</LogDbPassword>
		</LOGBOOK>
		<OUTPUTDATABASES>
		    <OUTPUTDB>
				<DBADDRESS>jdbc:postgresql://130.251.104.19/dewetra</DBADDRESS>
				<DBUSER>postgres</DBUSER>
				<DBPASSWORD>root</DBPASSWORD>
				<TABLENAME>alarmnotifications</TABLENAME>
				<TEXTCOLUMN>smstext</TEXTCOLUMN>
				<SENDERCOLUMN>phonenumber</SENDERCOLUMN>
				<DATECOLUMN>smstime</DATECOLUMN>
				<DBSCHEMA>qs</DBSCHEMA>
		    </OUTPUTDB>
		</OUTPUTDATABASES>		
	</MAINCONFIG>
</CONFIG>

