<!DOCTYPE html>
<html lang="en" ng-app="mercurius">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mercurius</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="favicon.png" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->


<div id="wrapper">

    <header>
        <div id="logo">
            <a href="#"><img src="img/logo.png" alt="Contact Path"></a>
        </div>
    </header>
    <div id="smartSearch" ng-controller="ContactsSearchController">
        <input type="search" id="searchBox" placeholder='Who?' autocomplete="off" ng-model="search"/>
        <ul id="searchResults" ng-show="search.length && (m_oController.getFlatContacts() | regex:'name':' +'+search+'|^'+search).length">
            <li ng-repeat="contact in m_oController.getFlatContacts() | regex:'name':' +'+search+'|^'+search | orderBy:'name' | limitTo:6"><a
                    ui-sref="contactsview({id:contact.id})">{{contact.name}}</a></li>
        </ul>
        <p ng-show="(search.length>2) && !(m_oController.getFlatContacts() | regex:'name':' +'+search+'|^'+search).length">
            A contact named <strong>{{search}}</strong> is not found.
        </p>

        <div class="loader" ng-show="(search.length<3) && !(m_oController.getFlatContacts() | regex:'name':' +'+search+'|^'+search).length"></div>
        <div class="clearfix"></div>
    </div>
    <hr/>

    <div id="contactsList" class="listContainer" ng-controller="ContactsListController" ><!--ng-init="oController.fetchContacts()"-->
        <dl ng-repeat="contactList in oController.getContactsService().getContacts()">
            <dt>{{contactList.name}}</dt>
            <!--dd ng-repeat="contact in contactList.contactListItems"><a class="cnt" href="#/view/{{contact.id}}">{{contact.name}}</a></dd-->
            <dd ng-repeat="contact in contactList.contactListItems"><a class="cnt" ui-sref="contactsview({id:contact.id})">{{contact.name}}</a></dd>
        </dl>
    </div>

    <div id="rightViewContainer">
        <!--div ng-view></div-->
        <div ui-view></div>
    </div>
</div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
-->
<script src="lib/jquery/jquery-1.10.2.js"></script>
<!--script src="js/jquery-ui.js"></script-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular-ui-router.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
<script src="lib/angular-ui-router.js"></script>
<script src="js/services/UserService.js"></script>
<script src="js/services/ContactsService.js"></script>
<script src="js/services/SmsService.js"></script>
<script src="js/services/MailService.js"></script>
<script src="js/controllers/LoginController.js"></script>
<script src="js/controllers/ContactsAddController.js"></script>
<script src="js/controllers/ContactsEditController.js"></script>
<script src="js/controllers/ContactsListController.js"></script>
<script src="js/controllers/ContactsSearchController.js"></script>
<script src="js/controllers/ContactsViewController.js"></script>
<script src="js/controllers/SmsController.js"></script>
<script src="js/controllers/MailController.js"></script>
<script src="js/app.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>
